<div class="well well-lg">
  <h1>Créditos</h1>
  <h6>Ferramentas que usei</h6>
</div>

<ul>
  <li>Watchr</li>
  <li>RSpec</li>
  <li>Capybara</li>
  <li>Cucumber (ainda não)</li>
  <li>Spork</li>
  <li>Sass</li>
  <li>Foreigner</li>
  <li>Rails</li>
  <li>Bootstrap 3.0</li>
  <li>Ruby Mine IDE</li>
  <li>Ícones: Yusuke Kamiyamane</li>
</ul>