<p id="title"></p>

<div class="jumbotron">
  <h1>Gerenciador de Projetos</h1>
  <p>
    <%= link_to 'Ver Projetos', projects_path, :class => "btn btn-default btn-lg", :role => 'button' %>
    &nbsp;
    &nbsp;
    <%= link_to 'Ver Tarefas', tasks_path, :class => "btn btn-default btn-lg", :role => 'button' %>
    </p>
</div>