<div class="well">

  <h1>TODO list do Projeto</h1>
  <h6>(Coisas que eu provavelmente faria se esse projeto fosse para produção e não somente um mostruário)</h6>

</div>

<ul>
  <li>Refatorar as views para aumetar o reuso (muito código parecido para projetos e tarefas(grids, forms))</li>
  <li>Refatorar os testes</li>
  <li>Otimizar o site para Mobile (usando as funcionalidade responsivas do Bootstrap)</li>
  <li>Paginação nos grids</li>
  <li>Funcionalidade de Busca</li>
  <li>HAML em vez de ERB</li>
  <li>Mais testes</li>
</ul>