<div class="well">

  <h1>TODO list do Projeto</h1>
  <h6>(Coisas que eu provavelmente faria se esse projeto fosse para produção e não somente um mostruário)</h6>

</div>

<ul>
  <li>Refatorar as views para aumentar o reuso (muito código parecido para projetos e tarefas(grids, forms))</li>
  <li>Refatorar os testes</li>
  <li>Otimizar o site para Mobile (usando as funcionalidade responsivas do Bootstrap)</li>
  <li>Paginação nos grids</li>
  <li>Funcionalidade de Busca</li>
  <li>Suporte a vários usuários para que cada um tenha seus projetos e tarefas separadamente.</li>
  <li>Fazer o projeto todo em Inglês e adicionar português como I18N</li>
  <li>HAML em vez de ERB</li>
  <li>Mais testes</li>
  <li>Estilizar as forms com o bootstrap quando dá algum erro de validação.</li>
</ul>