/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .marginbottom10 {
     margin-bottom: 10px !important;
 }
 .margintop45 {
     margin-top: 45px;
 }
 .white {
     color: #ffffff !important;
 }
 .width150 {
     width: 150px;
 }
 input[type="checkbox"] {
     margin-bottom: 15px !important;
 }
 .width100 {
     width: 100px;
 }

.field_with_errors {
    background-color: #ffffff !important;
    color: #FF0000  !important;
    display: inline !important;
    padding: 2px;
}