<%- model_class = Project -%>
<div class="page-header">
  <h1><%=t '.title', :default => @project.nome, :model => model_class.model_name.human.titleize %></h1>
</div>
<h1>New Task</h1>

<%= render 'tasks/form' %>