@media screen and (max-width: 768px) {
    .btn {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 5px;
    }
}

.finalized-task {
    text-decoration: line-through;
    color: #ccc;
    font-weight: normal;

}
